@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

header{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 2;
}

.nav_bar{
    flex:1;
    text-align: right;
}

.nav_bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

.nav_bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin: auto;

}

.nav_bar ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: rgb(240, 78, 14);
    display: block;
    margin: auto;
    position: relative;
}

.nav_bar ul li a:hover::after{
    width: 100%;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(181, 193, 15);
}
/* .menu_item,a{
    color: rgb(255, 255, 255);
} */

